@font-face {
  font-family: 'GalanoClassic-Light';
  src: url('fonts/GalanoClassic-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/GalanoClassic-Light.otf')  format('opentype'),
	     url('fonts/GalanoClassic-Light.woff') format('woff'),
       url('fonts/GalanoClassic-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposHeadline-Light';
  src: url('fonts/TiemposHeadline-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/TiemposHeadline-Light.otf')  format('opentype'),
	     url('fonts/TiemposHeadline-Light.woff') format('woff'),
       url('fonts/TiemposHeadline-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: @serif;
	background-color: @light-grey;
	font-size:100%;
	color:@dark-grey;
}

header {
	position: relative;
	z-index: 130;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h2 {
	margin:0;
}

h3 {
	font-family: @sans;
	font-size: 1em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin:0 0 5px;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	margin:0 0 10px;
}

a {
    text-decoration: none;
    .transition(all .25s linear);
}

::-moz-selection {
  color: @light-grey;
  background: @medium-grey;
}
::selection {
  color: @light-grey;
  background: @medium-grey;
}

.row {
	padding-top:30px;
	padding-bottom: 30px;

}

.menu-toggle {
  position: fixed;
  top:0;
  left: 0;
  background: @light-grey;
  margin: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 70px;
  height: 70px;
  .transition(all .15s .32s linear);
  opacity: 1;
  &:hover {
    .bar-1 {
			top:-2px;
		}
		.bar-3 {
			bottom:-2px;
		}
  }
  &:active, &:focus {
    outline: none;
  }
  .bar-container {
    width: 28px;
    height: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .bar-container,
  .bar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .bar {
    width: 28px;
    height: 1px;
    background: @dark-grey;
    .transition(all .2s linear);
		.transition(background .3s .2s linear);
    outline: 1px solid transparent;
  }
  .bar-1 {
    -webkit-transform: rotate(0) translate3d(0, -8px, 0);
    transform: rotate(0) translate3d(0, -8px, 0);
  }
  .bar-3 {
    -webkit-transform: rotate(0) translate3d(0, 8px, 0);
    transform: rotate(0) translate3d(0, 8px, 0);
  }
}

nav {
	position: fixed;
	overflow: hidden;
	background: @darker-grey;
	width: 50%;
	height: 100%;
	left:-50%;
	.transition(all .5s cubic-bezier(0.215, 0.61, 0.355, 1));
	a {
		color: #FFF;
	}
	ul {
		position: fixed;
		margin: 0;
		left: 80px;
		padding: 0;
		top:50%;
		pointer-events: none;
		.translate(0, -50%);
    &.language-switcher {
      top:auto;
      bottom: 30px;
      li {
        display: inline-block;
        margin-right:0;
        padding: 0 5px;
      }
    }
		li {
			opacity: 0;
			padding: 0;
			font-size: 2.8vw;
			list-style-type: none;
			.transition(all .3s 0s linear);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;

		}
		a {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
			opacity: .6;
			.transition(opacity .25s ease-in-out);
			&:hover,
			&.active {
				opacity: 1;
			}
			padding: 7px 0;
			display: block;
		}
	}
}

.menu-logo {
	position: fixed;
	top: 25px;
	left: 70px;
	pointer-events: none;
	opacity: 0;
	.transition(all .3s ease-in-out);
	img {
		height: 20px;
	}
}

.close-overlay {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.menu-open {
  .menu-toggle {
    background: transparent;
    .transition(all 0s 0s linear);
  }
  .close-overlay {
    display: block;
    cursor: url("img/close.svg"), auto;
  }
  main, footer {
    .transition(all .3s .55s linear);
    //.blur(3px);
  }
  button {
    pointer-events: all;
  }
  .bar-container {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
	.bar {
		background: #FFF;
		.transition(background .3s 0s linear);
	}
	.menu-toggle {
		&:hover {
			.bar-1 {
				top:0;
			}
			.bar-3 {
				bottom:0;
			}
		}
	}
  .bar-1 {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
  }
  .bar-2 {
    opacity: 0;
  }
  .bar-3 {
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
  }
	nav {
		left: 0;
		ul {
			pointer-events: all;
			li {
				opacity: 1;
				&:first-child {
					webkit-transition-delay: .2s;
    			transition-delay: .2s;
				}
				&:nth-child(2) {
					webkit-transition-delay: .4s;
    			transition-delay: .4s;
				}
				&:nth-child(3) {
					webkit-transition-delay: .6s;
    			transition-delay: .6s;
				}
				padding-left: 10px;
			}
		}
	}
	.menu-logo {
		opacity: 1;
		left: 90px;
		pointer-events: all;
	}
}

header, main, footer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 1);
}

main, footer {
  .transition(all .2s 0s linear);
  .blur(0px);
}

footer {
  position: fixed;
  top:0;
  left: 0;
  z-index: 110;
}

main {
  overflow: hidden;
	&.intro-active {
		overflow: hidden;
		height: 100vh;
	}
}

#intro {
	position: relative;
	top: 15px;
	.video {
		height: calc(100vh - 120px);
		max-height: 800px;
	}
	h2 {
		margin-top: 10px;
	}
}

.img-responsive {
	width: 100%;
}

.swiper-caption {
	color: @medium-grey;
  font-family: @sans;
	font-size: .9em;
	opacity: 1;
	.transition(opacity .2s);
	&.invisible {
		opacity: 0;
	}
	padding:20px 10px;
}

.swiper-button-next,
.swiper-button-prev {
	top: auto;
  bottom:10px;
	width: 30px;
}
.swiper-button-next {
	background: url("img/arrow-r.svg") center center no-repeat;
}

.swiper-button-prev {
	background: url("img/arrow-l.svg") center center no-repeat;
	right: 60px;
	left: auto;
}


#about {
	margin-top: 30px;
  position: relative;
  opacity: 1;
  top:0;
  .transition(~"top .35s ease-in-out, opacity .4s ease-in-out");
}


#contact {
	margin: 75px 0 2vh;
  padding-bottom: 7vh;
}


.email {
  display: inline-block;
  padding:7px 12px;
  margin:10px 0 20px;
  color:@dark-grey;
  border: 1px solid @dark-grey;
  &:hover {
    background: @dark-grey;
    color:@light-grey;
  }
}

.contact-details {
  float: left;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}


svg {
  polygon, rect, path {
    .transition(all .35s ease-in-out);
    &.highlight {
      opacity: .1;
      fill:#565451;
    }
  }
}

.hit-bottom {
  #about {
    top:-60px;
    opacity: 0;
  }
  svg {
    polygon, rect, path {
      .transition(all .55s .3s ease-in-out);
      &.highlight {
        opacity: 1;
        fill:@dark-grey;
      }
    }
  }
}

footer {

}


.intro-mask {
	position: fixed;
	z-index: 99;
	top:0px;
	left: 10px;
	width: calc(100vw - 10px);
	height: 100vh;
	background: url("img/intro-mask.svg") no-repeat;
	background-size: 100% auto;
	background-position: 0 51%;
	opacity: 1;
	.transition(~"background-position .5s ease-in-out, opacity .4s .3s ease-in-out");
	&.skipped {
		pointer-events: none;
		background-position:0 54%;
		opacity: 0;
		.tagline {
			top:40%;
		}
	}
}

.watermark {
	position: fixed;
	pointer-events: none;
	width: calc(100vw - 20px);
	height: calc(100vh - 10px);
	z-index: 80;
	img, svg {
		position: absolute;
		top:47.5%;
		.translate(0%,-50%);
	}
}

.tagline {
	position: absolute;
	top: 60%;
	left: 24%;
	.transition(top .5s .15s ease-in-out);
}

.skip-intro {
	font-family: @sans;
	text-transform: uppercase;
	position: absolute;
	bottom:40px;
	left: 50%;
	cursor: pointer;
	border: 1px solid @dark-grey;
	display: block;
	padding:10px 15px 5px;
	letter-spacing: 2px;
	line-height: 1.3em;
	font-size: .9em;
	.translate(-50%,0);
	.transition(all .25s ease-in-out);
	-webkit-transform-origin: 20% 40%;
	transform-origin: 20% 40%;
	&:hover {
		background: @dark-grey;
		//padding:12px 17px 7px;
		color:@light-grey;
	}
}

.animated-block {
  opacity: 0;
  position: relative;
  .transition(all .5s ease-in-out);
  &.fade-delay-1 {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
  }
  &.fade-delay-2 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
  &.fade-delay-3 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  &.visible {
    opacity: 1;
  }
}

.fade-in-top {
  top:50px;
  &.visible {
    top:0;
  }
}

.fade-in-left {
  left:30px;
  &.visible {
    left:0;
  }
}

@media(max-width:600px) {
  .menu-open {
    .menu-logo {
      left:65px;
      img {
        height: 18px;
      }
    }
  }
  nav ul {
    left: 55px;
    &.language-switcher {
      bottom:0px;
    }
  }
  .team-column {
    width: 100% !important;
  }
}

@media(min-width:650px) and (max-width:767px) {
  #intro h2 {
    padding-right: 20%;
  }
  #about {
    .column:nth-child(1) {
      float: left;
      width: 45%;
    }
    .column:nth-child(2) {
      float: left;
      width: 55%;
    }
  }
  .break-line {
    display: block;
  }
  .align-bottom {
    h3, p {
      float: left;
      width: 50%;
    }
    p {
      margin-left: -20px;
    }
  }
}

@media(max-width:767px) {
  h2, nav ul li {
    font-size: 28px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 20px;
  }
  #intro {
    .video {
      height: auto;
      max-height: auto;
    	position: relative;
    	padding-bottom: 53.9%;
    	padding-top: 25px;
    	height: 0;
       iframe {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }
  .team-column {
    width: 50%;
    float: left;
    h3, &:first-child h3 {
      margin-top: 20px;
    }
  }
  .swiper-caption {
    padding-left: 0;
    text-align: right;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  nav {
    width: 100%;
    left: -100%;
  }
  .tagline {
    top:60%;
    left: 16.5%;
    font-size:22px;
  }
  .intro-mask {
    background: url("img/intro-mobile.svg") no-repeat;
    background-size: 100% auto;
    background-position: 3px 58%;
    &.skipped {
  		pointer-events: none;
  		background-position:3px 70%;

    }
  }
  .skip-intro {
    border: none;
    &.visible-xs {
      background: url("img/skip-intro-mobile.svg") center center no-repeat;
      background-size: 40px auto;
      height: 80px;
      width: 120px;
      bottom:5px;
    }
  }
  .watermark {
    display: none;
  }
}

@media (min-width: 768px) {
  .grid {
  	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .grid-item {
  	flex-grow:1;
  }

  .align-bottom {
  	align-self: flex-end;
  	margin-bottom: 42px;
  }
  .team-description {
  	 .team-column {
  		margin-top: 30px;
  		&:first-child h3 {
  			margin-top: 45px;
  		}
  	}
  }
}


@media (min-width: 768px) and (max-width:991px) {
  h2, nav ul li,
  .language-switcher li {
    font-size: 28px;
    padding-right: 50px;
  }
  h3, p {
    font-size: 18px;
  }

  .team {
  	margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .type-offset {
    margin-left: -20px;
  }
}

@media (max-width:991px) {
  .watermark {
    width: 114vw;
    img, svg {
      left: -6.5%;
    }
  }
}

@media (min-width:992px) and (max-height:580px) {
  .watermark svg{
    top:30%;
  }
}

@media (min-width:992px) and (max-width:1099px) {
  h3, p {
    font-size: 1.65vw;
  }
}

@media (min-width:1100px) and (max-width:1280px) {
  h3, p {
    font-size: 1.45vw;
  }
}

@media (min-width:1024px) and (max-width:1280px) {
  h2, nav ul li {
    font-size: 2.9vw;
    padding-right: 10px;
  }
  .language-switcher li {
    font-size: 2.3vw;
  }
  .team {
  	margin-top: 60px;
  }
}

@media (max-width:1280px) {
  .row {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


@media (min-width:1281px) {
  h2, nav ul li {
    font-size: 2.8vw;
    padding-right: 50px;
  }
  .language-switcher li {
    font-size: 2vw;
  }
  h3, p {
    font-size: 1.3vw;
  }
  .row {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team {
  	margin-top: 90px;
  }
  #intro {
    .row {
      padding-top: 45px;
      padding-bottom: 40px;
    }
    .video {
      height: calc(100vh - 140px);
      max-height: 800px;
    }
  }
}
